<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">Born in {{year}}</span>
    </div>
    <div class="description">
        {{description}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="trophy icon"></i>
      {{oscars}} Oscar(s)
    </a>
  </div>
</div>